{% extends "base.html" %}
{% block title %} Dashboard {% endblock %} 
{% block content %}
<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Total Districts</h3>
                <h1>147</h1>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Total Constituencies</h3>
                <h1>147</h1>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Total Polling Stations</h3>
                <h1>147</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %} 
{% block js %} {% endblock %}